<!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>General</h3>
                <ul class="nav side-menu">
                    <li>
                        <a href="home"><i class="fa fa-home"></i> Home </a>
                    </li>
                    <li><a><i class="fa fa-user"></i> Data User <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/data-signup">Data Sign Up</a></li>
                            <li><a href="/data-user">Data User</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-users"></i> Data Match <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/data-match">Data Match</a>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-inbox"></i> Data Messages <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/data-messages">Data Messages</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-line-chart"></i>Analytic<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/analytic-report">Data Analytic</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-mobile"></i>Mobile Apps<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/android-report">Android</a></li>
                            <li><a href="/ios-report">IOS</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
        <div class="menu_section">
            <h3>Other</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-cog"></i> Tools <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li><a href="e_commerce.html">Haraka Logs</a></li>
                        <li><a href="projects.html">Event Tracker</a></li>
                        <li><a href="project_detail.html">Email Bounce</a></li>
                        <li><a href="contacts.html">Success Stories</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/login"><i class="fa fa-power-off"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
<!-- /sidebar menu -->