<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SETIPE DASHBOARD</title>

    <!-- Bootstrap core CSS -->

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="css/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/maps/jquery-jvectormap-2.0.1.css" />
    <link href="css/icheck/flat/green.css" rel="stylesheet" />
    <link href="css/floatexamples.css" rel="stylesheet" type="text/css" />

    <script src="js/jquery.min.js"></script>
    <script src="js/nprogress.js"></script>

</head>


<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title">SETIPE</a>
                    </div>
                    <div class="clearfix"></div>

                   <!-- profile top left -->
                    {{= include partials/profile.html }}
                    <!-- /profile top left -->

                    <br />

                    <!-- sidebar menu -->
                    {{= include partials/sidebar.html}}
                    <!-- /sidebar menu -->


                </div>
            </div>

           <!-- top navigation -->
            {{= include partials/profile-top.html }}
            <!-- /top navigation -->


            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                <div class="row">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-user"></i>
                            </div>
                            <div class="count">{{= userCount }}</div>

                            <h3>Total User</h3>
                            <p>Lorem ipsum psdea itgum rixt.</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-users"></i>
                            </div>
                            <div class="count">{{= matchCount }}</div>

                            <h3>Total Matches</h3>
                            <p>Lorem ipsum psdea itgum rixt.</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-comments-o"></i>
                            </div>
                            <div class="count">{{= messagesCount }}</div>

                            <h3>Total Messages</h3>
                            <p>Lorem ipsum psdea itgum rixt.</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-download"></i>
                            </div>
                            <div class="count">{{= totalApps}}</div>

                            <h3>Total Downloads</h3>
                            <p>Lorem ipsum psdea itgum rixt.</p>
                        </div>
                    </div>
                </div>
                <!-- /top tiles -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard_graph">

                            <div class="row x_title">
                                <div class="col-md-6">
                                        <h3>Data Sign In<small> Monthly</small></h3>
                                </div>
                            </div>

                            <div class="col-md-9 col-sm-9 col-xs-12">
                               <div id="testHC" style="min-width: 310px;margin: 0 auto"></div>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div>
                                    <div class="x_title">
                                        <h2>Mobile Apps Download</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <ul class="list-unstyled top_profiles">
                                        <li class="media event">
                                            <a class="pull-left border-aero profile_thumb">
                                                <i class="fa fa-android green"></i>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">Android</a>
                                                <p><strong>{{= androidCount }}</strong> Total Downloads </p>
                                                <p> <small>Data Since September</small>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="media event">
                                            <a class="pull-left border-green profile_thumb">
                                                <i class="fa fa-apple aero"></i>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">IOS</a>
                                                <p><strong>{{= iosCount }} </strong> Total Downloads </p>
                                                <p> <small>Data Since September</small>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
                <br>
                <!-- footer content -->
                {{= include partials/footer.html}}
                <!-- /footer content -->

            </div>
            <!-- /page content -->

        </div>

    </div>


    <script src="js/bootstrap.min.js"></script>

    <!-- chart js -->
    <script src="js/chartjs/chart.min.js"></script>
    <!-- bootstrap progress js -->
    <script src="js/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="js/moment.min.js"></script>

    <script src="js/custom.js"></script>

    <!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
  


     <script>
        var monthGlobal = []
        var maleGlobal = []
        var femaleGlobal = []
        var months = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december'];
        $(function (){
            $.ajax({
                method: "GET",
                url: "http://localhost:8877/api/data-signin",
                success : function(resp){
                    var data = resp.data;
                    var dataGraph = [];
                    data.forEach(function(item){
                        dataGraph.push({
                            month : item.month, male : item.male, female : item.female
                        });
                        monthGlobal.push(item.month);
                        maleGlobal.push(item.male)
                        femaleGlobal.push(item.female)
                    });
                    console.dir(monthGlobal)
                    $('#testHC').highcharts({
                        chart: {
                            type: 'areaspline'
                        },
                        title: {
                            text: 'Data Sign In'
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'left',
                            verticalAlign: 'top',
                            x: 150,
                            y: 100,
                            floating: true,
                            borderWidth: 1,
                            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                        },
                        xAxis: {
                            categories: monthGlobal,
                        },
                        yAxis: {
                            title: {
                                text: 'Data Sign In'
                            }
                        },
                        tooltip: {
                            shared: true,
                            valueSuffix: ' members'
                        },
                        credits: {
                            enabled: false
                        },
                        plotOptions: {
                            areaspline: {
                                fillOpacity: 0.1
                            }
                        },
                        series: [{
                            name: 'Male',
                            data: maleGlobal
                        }, {
                            name: 'Female',
                            data: femaleGlobal
                        }]
                    });
                    
                }
            });
        });
        </script>
        <script src="js/highcharts/highchart.js"></script>
        <script src="js/highcharts/exporting.js"></script>
            <!-- /datepicker -->
    <!-- /footer content -->
</body>

</html>
